#contMode{
    display: grid;
    padding: 5px;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    background-color: #001521;
    width: 125px;
}

#night{
    cursor: pointer;
    height: 30px;
    border-radius: 10px 2px 2px 10px;
    background-color: #182c39;
    background-image: url("../icons/moon.png");
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    transition: all 0.2s;
}

#day{
    cursor: pointer;
    height: 30px;
    border-radius: 2px 10px 10px 2px;
    background-color: #030c12;
    background-image: url("../icons/sun.png");
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    transition: all 0.2s;
}

#night:hover{
    transform: scale(1.2);
    background-size: 100%;
    filter: brightness(150%);
}

#day:hover{
    transform: scale(1.2);
    background-size: 100%;
    filter: brightness(150%);
}

@media screen and (max-width: 980px){
    #day{    
        height: 65px;    
    }
    #night{
        height: 65px;    
    }
       
    }
