#headercont{
    background-color: #008069;
}

#init{
    background-color: #005A5C;
}

#area{
    background-image: url("../images/backgroundlight.png");
}

body{
    background-color: #F0F2F5;
}

#day{
    background-color: #f6f6f6;
    color: #000;
        }

#title{
    color: #000;
}

#desc{
    color: #000;
}

#subtitle{
    color: #008069;
}

#paragraph{
    color: #000;
}

.oth div{
    background-color: #fff;
}

.env div{
    background-color: #D9FDD3;
}

#warn{
    background-color: #F6F6F6;
    color: #000;
}

#entrance{
    background-color: #CED0D1;
}

#footarea{
    background-color: #008069;
}

#final{
    background-color: #005A5C;
}

#body{
    background-color: transparent
}

#userparagraph{
    color: #000;
}

#contUsers{
    background-color: #ffffff;
}

#txtusr{
    margin-top: 0;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

#optionpov{
    color: #fff;
    background-color: #008069;
}

#date{
    color: #959a9c;
}

#body{
    color: #000;
}