
#desc{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
    color: rgb(19, 18, 18);
}
#title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 50px;
}
#Subtitle{
    font-family: 'Roboto',sans-serif;
    text-align: center;
}
#entrance{
text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}