

nav {
    display: inline-flex;
    background-color:rgb(74, 134, 99);
    width: 100%;
}

nav img {
    width: 5%;
}

nav h1 {
    font-weight: bold;
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial;
}
body{
    background-image: url("../images/backgroundlight.png");
}